.barraLateralNav{
    background-color: var(--gray-light);
    min-height: 100vh;
    width: 250px;
    padding: 10px;
}

.divImagem{
    width: 100px;
    margin: 20px auto 30px;
}

.barraLateralNav img {
    width: 100%;
}

.groupButtonNav {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.groupButtonNav > button {
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: var(--border-radius-md);
    font-weight: bold;
    font-size: 1.2rem;
}

.buttonAtivo{
    background-color: var(--white);
    color: var(--primary-color);
}