@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&display=swap");
/* Variáveis globais */
:root {
    /* Cores */
    --primary-color: #00acef; /* Azul principal */
    --background-light: #fafafa; /* Fundo claro */
    --white: #ffffff; /* Branco */
    --gray-light: #efeff0; /* Cinza claro */
    --blue-light: #d9e4ee; /* Azul claro */
    --text-dark: #0f0f0f; /* Quase preto */
    --gray-medium: #ccc; /* Cinza médio para bordas */
    --input-bg: #f9f9f9; /* Fundo de inputs */

    /* Fonte */
    --font-family-nunito: "Nunito", sans-serif;
    --font-family-balootwo: "Baloo 2", sans-serif;


    /* Box-shadow */
    --box-shadow-light: 0px 10px 20px rgba(0, 0, 0, 0.1);

    /* Tamanhos e espaçamentos comuns */
    --border-radius-sm: 8px;
    --border-radius-md: 10px;
    --border-radius-lg: 12px;
}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    background-color: var(--background-light);
    font-family: var(--font-family-nunito);
    color: var(--text-dark);
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    
}

input {
    width: 100%;
    padding:  10px 15px;
    margin-bottom: 20px;
    border-radius: var(--border-radius-sm);
    border: 1px solid var(--gray-medium);
    background-color: var(--input-bg);
    outline: none;
}

a {
    text-decoration: none;
}